---

// src/pages/index.astro
import HomeLayout from '../../layouts/HomePage.astro';
import Intro from '../../components/Intro.astro';
import PostList from '../../components/PostList.astro';

const { tag } = Astro.params;

export function getStaticPaths() {
  return [
    // Generates: /dogs/clifford
    {params: {tag: 'Digital'}},
    // Generates: /dogs/rover
    {params: {tag: 'Machine-Learning'}},
  ];
}

---

<HomeLayout title="Home">
  <Intro />
  <header>
    <div class="m-3">
        <ul class="flex flex-wrap text-xs font-medium mx-auto text-center text-gray-400">
            <li class={tag + " text-center w-full"}>
                <a class="inline-flex text-center text-gray-100 py-1 px-3 ">FILTERED BY TAG: </a>
                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-purple-600 hover:bg-purple-700 transition duration-150 ease-in-out">{tag}</a>
            </li>
        </ul>
    </div>
  </header>
  <PostList tag={tag}/>
</HomeLayout>